@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:root {
    --container-width: 1156px;
    --medium-container-width: 700px;
    --transition-speed: 0.4s;
    --primary-color: #008cba;
    --secondary-color: #18191b;
    --white-background: white;
    --light-gray: rgb(224, 224, 224);
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

::selection {
    background-color: #00a4db;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container-width);
    padding-left: 2rem;
    padding-right: 2rem;
}

.content_container {
    width: var(--medium-container-width);
    margin-left: auto;
    margin-right: auto;
}

section {
    padding-top: 3rem;

}

body {
    font-family: "Open Sans", sans-serif;
}

main {
    padding-bottom: 100px;
}

.filler {
    height: 2rem;
}